* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

button{
    border: 0;
    background-color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: auto;
    max-width: 1728px;
}

.header__logo{
    background-image: url(/Juhee-Hwang/1_velog-clone/assets/images/velog_logo.png);
    cursor: pointer;
}

.header__right{
    display: flex;
    align-items: center;
}

.header__search{
    background-image: url(/Juhee-Hwang/1_velog-clone/assets/icons/search.svg);
    height: 24px;
    width: 24px;
    margin: 0 30px 0 0;
    cursor: pointer;
    
}

.header__writing{
    background-color: lightgray;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    margin: 0 20px 0 0;
}

.header__profile{
    background-color: lightpink;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.header__mypage{
    background-image: url(/Juhee-Hwang/1_velog-clone/assets/icons/chevron-down.svg);
    width: 24px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left{
    display: flex;
}